/node_modules/*
/dist/*

/static/css/*
/static/img/*
/static/font-awesome/*
/static/bootstrap-dist/*
/static/js/b*
/static/js/a*
/static/js/c*
/static/js/d*
/static/js/j*
/static/js/t*
/static/js/v*
/static/js/e*
/static/js/f*
/static/js/g*
/static/js/h*
/static/js/m*
/static/js/i*
/static/js/n*
/static/js/p*
/static/js/s*
/static/js/u*
/static/js/x*
/api.js